<template>
  <q-page padding class="bg-dark">
    
      <div class="container">

        <div class="row">
          <div class="col-6">
            <h5 class="text-white">Presupuesto mensual: ${{budget}}</h5>
          </div>
          <div class="col-6">
            <h5 class="text-white">
              Presupuesto restante: 
              <span :class="usedBudget > budget/2 ? 'text-positive' : (usedBudget < budget/2 && usedBudget > 0) ? 'text-warning' : 'text-negative' ">
                ${{usedBudget}}
              </span>
            </h5>
          </div>
        </div>

        <div class="row">
            <div class="col-4">
                <q-table
                    flat
                    bordered
                    class="q-mx-md"
                    title="COSTOS RH"
                    :rows="rows"
                    :columns="columns"
                    row-key="name"
                    dark
                    color="primary"
                    selection="multiple"
                    v-model:selected="selected"
                    />
                    <div class="q-mt-md text-white">
                      Total: ${{ getTotal(selected) }}
                    </div>
            </div>
            <div class="col-4">
                <q-table
                    flat
                    bordered
                    class="q-mx-md"
                    title="COSTOS RM"
                    :rows="rowsRM"
                    :columns="columnsRM"
                    row-key="name"
                    dark
                    color="primary"
                    selection="multiple"
                    v-model:selected="selectedRM"
                    />
                    <div class="q-mt-md text-white">
                      Total: ${{ getTotal(selectedRM) }}
                    </div>
            </div>
            <div class="col-4">
                <q-table
                    flat
                    bordered
                    class="q-mx-md"
                    title="COSTOS RTIC"
                    :rows="rowsRTIC"
                    :columns="columnsRTIC"
                    row-key="name"
                    dark
                    color="primary"
                    selection="multiple"
                    v-model:selected="selectedRTIC"
                    />
                    <div class="q-mt-md text-white">
                      Total: ${{ getTotal(selectedRTIC) }}
                    </div>
            </div>
        </div>
      </div>
      
  </q-page>
</template>

<script>
import { useQuasar } from 'quasar'
import { defineComponent, ref } from 'vue';

const columns = [
  {
    name: 'name',
    required: true,
    label: 'RH',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'costo', align: 'center', label: 'COSTO U/M', field: 'costo', sortable: true },
]

const columnsRM = [
  {
    name: 'name',
    required: true,
    label: 'RM',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'costo', align: 'center', label: 'COSTO U/M', field: 'costo', sortable: true },
]

const columnsRTIC = [
  {
    name: 'name',
    required: true,
    label: 'RTIC',
    align: 'left',
    field: row => row.name,
    format: val => `${val}`,
    sortable: true
  },
  { name: 'costo', align: 'center', label: 'COSTO U/M', field: 'costo', sortable: true },
]

const rows = [
  {
    name: '2 Analistas',
    costo: 10000,
  },
  {
    name: '4 Programadores',
    costo: 15500,
  },
  {
    name: '3 Diseñadores',
    costo: 15000,
  },
  {
    name: '1 Documentista',
    costo: 13000,
  },
]

const rowsRM = [
  {
    name: 'Oficina',
    costo: 8000,
  },
  {
    name: '10 escritorios con silla',
    costo: 5000,
  },
  {
    name: 'Cafetería (mobiliario)',
    costo: 55800,
  },
  {
    name: 'Sala de juntas',
    costo: 75000,
  },
]

const rowsRTIC = [
  {
    name: 'Telefonía c/internet (pr 1)',
    costo: 1400,
  },
  {
    name: 'LAN c/Servidor',
    costo: 58600,
  },
  {
    name: '10 Laptop',
    costo: 19580,
  },
  {
    name: 'Telefonía c/internet (p 2)',
    costo: 15500,
  },
]

export default defineComponent({
  name: 'requirementsIndex',
  setup () {
    const $q = useQuasar()
    const selected = ref([])
    const selectedRM = ref([])
    const selectedRTIC = ref([])

    return {
        columns,
        rows,
        columnsRM,
        rowsRM,
        columnsRTIC,
        rowsRTIC,
        budget: ref(98000.00),
        usedBudget: ref(98000.00),
        selected,
        selectedRM,
        selectedRTIC,
        budgetRH: ref(0.0),
        budgetRM: ref(0.0),
        budgetRTIC: ref(0.0),
        cleaned: ref(false),
        cleanFields(){
          this.cleaned = true;
          this.selected = [];
          this.selectedRM = [];
          this.selectedRTIC = [];
          this.usedBudget = 98000.00;
        },
        getTotal(data) {
          let total = 0;
          data.forEach(element => {
            total += element.costo
          });
          return total;
        }
    }
  },
  watch: {
    selected(value) {
      let auxBudget = this.budgetRH;

      this.budgetRH = 0;
      if(value.length > 0){
        this.usedBudget += auxBudget

        this.cleaned = false;

        let aux = value;

        aux.forEach(element => {
          this.budgetRH += element.costo
        });

        this.usedBudget -= this.budgetRH;

      } else if(!this.cleaned) {
        this.cleanFields();
      }
    },
    selectedRM(value) {
      let auxBudget = this.budgetRM;

      this.budgetRM = 0;
      if(value.length > 0){
        this.usedBudget += auxBudget

        this.cleaned = false;
        
        let aux = value;

        aux.forEach(element => {
          this.budgetRM += element.costo
        });

        this.usedBudget -= this.budgetRM;

      } else if(!this.cleaned) {
        this.cleanFields();
      }
    },
    selectedRTIC(value) {
      let auxBudget = this.budgetRTIC;

      this.budgetRTIC = 0;
      if(value.length > 0){
        this.usedBudget += auxBudget

        this.cleaned = false;

        let aux = value;

        aux.forEach(element => {
          this.budgetRTIC += element.costo
        });

        this.usedBudget -= this.budgetRTIC;

      } else if(!this.cleaned) {
        this.cleanFields();
      }
    }
  }
})
</script>
