<template>
  <q-page class="fit row wrap justify-center items-center content-center bg-dark">
    
    <q-form
      ref="myForm"
      @submit="onSubmit"
      @reset="onReset"
      class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 q-gutter-sm"
    >
      <h2 class="text-white">Registro</h2>

      <q-input
        dense
        dark
        filled
        v-model="name"
        label="Ingrese su nombre *"
        hint="Nombre y apellido"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Por favor, ingrese su nombre']"
      />

      <q-input 
        dense 
        dark 
        filled 
        v-model="date" 
        mask="date" 
        :rules="['date']"
      >
        <template v-slot:append>
          <q-icon name="event" class="cursor-pointer"/>
        </template>
      </q-input>

      <q-input
        dark 
        dense
        autogrow
        maxlength="25"
        counter 
        label="Ingrese una frase corta que recuerdes fácilmente *"
        v-model="phrase"
        filled
        type="textarea"
      />

      <div class="row">
        <div class="col-6">
          <q-input 
            dense 
            dark 
            v-model="password" 
            filled 
            :type="isPwd ? 'password' : 'text'" hint="Contraseña"
            label="Ingrese su contraseña *"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
        </div>
        <div class="col-6" align="right">
          <q-btn outline no-caps dark label="Generar contraseña" color="secondary" @click="generatePass()"/>
        </div>

        <q-item dark>
          <q-item-section>
            <q-item-label caption>
              La contraseña generada, estará formada por su año de nacimiento, sus iniciales y la primer letra
              de cada palabra de su frase.
            </q-item-label>
          </q-item-section>
        </q-item>

      </div>



    </q-form>

  </q-page>
</template>

<script>
import { useQuasar } from 'quasar'
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'PageIndex',
  setup () {
    const $q = useQuasar()

    const myForm = ref(null)

    const name = ref(null)
    const date = ref('2019/02/01')
    const phrase = ref(null)
    const password = ref(null)
    const isPwd = ref(true)

    return {
      name,
      date,
      phrase,
      password,
      isPwd,
      myForm,
      date,
      onSubmit () {
        if (name !== null) {
          $q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: 'You need to accept the license and terms first'
          })
        }
        else {
          $q.notify({
            color: 'green-4',
            textColor: 'white',
            icon: 'cloud_done',
            message: 'Submitted'
          })
        }
      },

      onReset () {
        name.value = null
        age.value = null
        accept.value = false
      },
      generatePass() {
        myForm.value.validate().then(success => {
          if (success) {

            let nameArray = name.value.split(" ");
            let year = date.value.substring(0, 4);
            let phraseArray = phrase.value.split(" ");

            let genratedPass = `${year}/`;

            for (let index = 0; index < nameArray.length; index++) {
              genratedPass += nameArray[index].substring(0, 1);
            }

            genratedPass += "/";
            for (let index = 0; index < phraseArray.length; index++) {
              genratedPass += phraseArray[index].substring(0, 1);
            }

            password.value = genratedPass;

            $q.notify({
              color: 'positive',
              textColor: 'white',
              icon: 'check_circle',
              message: `¡Contraseña generada exitosamente! Su nueva contraseña es: ${password.value}`
            })
          }
          else {
            $q.notify({
              color: 'negative',
              textColor: 'white',
              icon: 'warning',
              message: 'Debes completar los campos para poder generar una contraseña.'
            })
          }
        })
      }
    }
  }
})
</script>
