<template>
  <q-layout view="hHh Lpr lff">
    <q-header dark elevated>
      <q-toolbar dark>
        <q-btn flat @click="drawer = !drawer" round dense icon="menu" />
        <q-toolbar-title >
          Password Gen
        </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      dark
      overlay
      v-model="drawer"
      :breakpoint="500"
      class="bg-grey-9 text-white"
      >
        <q-scroll-area class="fit">
          <q-list>

            <template v-for="(menuItem, index) in menuList" :key="index">
              <q-item clickable :active="menuItem.link === this.$route.path" v-ripple @click="changeRoute(menuItem)">
                <q-item-section avatar>
                  <q-icon :name="menuItem.icon" />
                </q-item-section>
                <q-item-section>
                  {{ menuItem.label }}
                </q-item-section>
              </q-item>
            </template>

          </q-list>
        </q-scroll-area>
      </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>


import { defineComponent, ref } from 'vue'

const menuList = [
  {
    icon: 'lock',
    label: 'Generador de contaseña',
    link: '/',
  },
  {
    icon: 'manage_accounts',
    label: 'Proyecto de SW',
    link: '/requirements',
  },
]

export default defineComponent({
  name: 'MainLayout',

  components: {
    
  },

  setup () {
    return {
      drawer: ref(false),
      menuList,
      changeRoute(route) {
        if(route.link != this.$route.path){
          this.$router.push(route.link)
        }
      },
    }
  },

  created() {
    
  }
})
</script>
